.container {
  width: 100%;
  height: max-content;
  min-height: calc(100vh - $header_height - $footer_height);
  padding-bottom: 10rem;
  background-color: var(--contour);

  .page_title {
    width: 100%;
    height: 15.1rem;
    font-size: 3.125rem;
    font-weight: 700;
    background-color: var(--white);
    @include display-flex;
  }

  .page_content {
    padding-top: 2rem;
  }
}

.white {
  background-color: var(--white);
}
