.contentContainer {
  width: 90rem;
  min-height: 30rem;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 2rem;
  grid-row-gap: 2rem;
  .clubContainer {
    width: 44rem;
    height: 16rem;
    border-radius: 0.6rem;
    background-color: white;
    @include display-flex($jus: space-between);
    padding: 1.8rem 2.5rem;

    .left_section {
      position: relative;
      width: 12rem;
      height: 12rem;
    }

    .center_section {
      width: 15rem;
      margin-left: 0.8rem;
      @include display-flex($dir: column);
      word-break: break-all;
      .title {
        font-size: 2.5rem;
        font-weight: var(--bold);
      }

      .badge {
        margin-top: 0.4rem;
        display: flex;
        gap: 0.8rem;
        div {
          width: 3.6rem;
          height: 1rem;
          border-radius: 5px;
          text-align: center;
          font-size: 0.6rem;
          font-weight: var(--bold);
        }

        .category {
          color: var(--category);
          background-color: var(--contour);
        }

        .location {
          width: max-content;
          display: flex;
          align-items: center;
          justify-content: space-between;
        }

        .class {
          color: white;
          background-color: var(--main);
        }
      }
    }

    .right_section {
      width: 9rem;
      text-align: center;
      font-size: 1.25rem;
      font-weight: 500;
      margin-right: 0.8rem;
      @include display-flex($dir: column, $gap: 1.2rem);
      .element {
        position: relative;
        width: 100%;
        cursor: pointer;
        svg {
          position: absolute;
          right: 0;
          top: 50%;
          transform: translate(160%, -50%);
        }
      }
    }
  }
}
