.memberContainer {
  position: relative;
  background-color: var(--white);
  width: max-content;
  padding: 9rem 3rem 4rem 3rem;
  border-radius: 1rem;
  margin: auto;

  .listContainer {
    border: 1px solid var(--gray-hover);
    padding: 5rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 4rem;

    .member {
      position: relative;
      width: 27.8rem;
      height: 5rem;
      border: 1px solid var(--gray-hover);
      border-radius: 0.5rem;
      @include display-flex($jus: space-around);
      padding: 0 1rem;
      font-size: var(--h4);
      font-weight: var(--bold);

      .name {
        width: 30%;
      }

      .id {
        width: 35%;
        font-size: var(--h6);
        color: var(--gray-hover);
      }
      .class {
        text-align: center;
        width: 22%;
        color: var(--main);
      }

      .option {
        input {
          display: none;

          &:checked + label .modal {
            display: flex;
          }
        }
        label {
          cursor: pointer;
          width: 30px;
          height: 30px;
          display: block;
        }

        .modal {
          font-size: 1rem;
          font-weight: 500;
          width: max-content;
          position: absolute;
          right: 0;
          bottom: 0;
          transform: translateY(105%);
          border: 1px solid var(--gray-hover);
          border-radius: 0.5rem;
          padding: 0.8rem 1rem;
          background-color: var(--white);
          @include display-flex($dir: column, $gap: 0.6rem);
          display: none;
          span {
            color: var(--main);
          }
          .error {
            color: #cc0a00;
          }
        }
      }
    }
  }
}
