.container {
  min-width: 90rem;
  width: 100%;
  min-height: 100vh;
  padding-bottom: 5rem;
  background-color: #e8e8e8;

  .registerContainer {
    width: 90%;
    padding: 2.75rem 0 0 0;
    height: max-content;
    background-color: white;
    border-radius: 1rem;
    padding-bottom: 1.2rem;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1.75rem;

    .box {
      width: 30.375rem;
      padding: 0 2.68rem;

      .label {
        font-size: var(--h6);
        font-weight: 700;
        margin-bottom: 0.4rem;
        margin-top: 1.4rem;
      }
      input[type="text"] {
        display: block;
        width: 25rem;
        height: 3.75rem;
        font-size: var(--h6);
        border-radius: 0.5rem;
        border: 2px solid var(--gray-hover);
        padding: 0 0 0 0.8rem;
        transition: all ease 0.15s;

        &:focus {
          border-color: var(--main);
        }
      }

      textarea {
        width: 25rem;
        height: 16.25rem;
        border-radius: 0.5rem;
        border: 2px solid var(--gray-hover);
        font-size: 1.19rem;
        padding: 1rem 0.8rem;
        resize: vertical;
        font-family: inherit;
        &::placeholder {
          font-size: 1.19rem;
        }
        &:focus {
          border-color: var(--main);
        }
      }

      .categoryContainer {
        width: 100%;
        display: grid;
        justify-content: space-between;
        grid-row-gap: 1rem;
        grid-template-columns: repeat(4, max-content);
        grid-template-rows: repeat(2, var(--h6));
        border: 2px solid var(--gray-hover);
        border-radius: 0.5rem;
        padding: 0.8rem;

        div {
          font-size: var(--title);
          display: flex;
          align-items: center;

          input {
            width: var(--h6);
            height: var(--h6);
            margin-right: 0.4rem;
            accent-color: var(--main);
          }
        }
      }

      .areaContainer {
        width: 100%;
        display: grid;
        justify-content: space-between;
        grid-row-gap: 1rem;
        grid-template-columns: repeat(3, max-content);
        grid-template-rows: repeat(4, var(--h6));
        border: 2px solid var(--gray-hover);
        border-radius: 0.5rem;
        padding: 0.8rem;

        div {
          font-size: var(--title);
          display: flex;
          align-items: center;

          input {
            width: var(--h6);
            height: var(--h6);
            margin-right: 0.4rem;
            accent-color: var(--main);
          }
        }
      }

      input[type="file"] {
        display: none;

        & + label {
          position: relative;
          top: 0;
          left: 0;
          width: 7.18rem;
          height: 10.18rem;
          display: block;
          border: 2px solid var(--gray-hover);
          border-radius: 0.5rem;
          text-align: center;
          line-height: 9.5rem;
          color: var(--gray-hover);
          cursor: pointer;
          overflow: hidden;
        }
      }

      input[type="button"] {
        width: 11.43rem;
        height: 3rem;
        border: none;
        border-radius: 0.5rem;
        cursor: pointer;
        font-size: var(--title);
        font-weight: 700;
        color: white;
        background-color: var(--main);
        margin: 3rem auto;
        display: block;
      }
    }
    .title {
      font-size: var(--h1);
      font-weight: 700;
    }
  }
}
