.container {
  width: 60rem;
  height: max-content;
  padding-top: 2.75rem;
  background-color: white;
  border-radius: 1rem;
  margin: 0 auto;

  h1,
  h2 {
    font-size: var(--h2);
    margin-top: 2rem;
    margin-bottom: 2rem;
  }

  .resume_wrapper {
    position: relative;
    .resume_minus {
      cursor: pointer;
      position: absolute;
      right: 0;
      top: 55%;
      transform: translate(120%, -50%);
    }
  }

  .resume_plus {
    cursor: pointer;
  }
}
