.container {
  background-color: white;
  min-width: 90rem;
  width: 100%;
  height: 15.1rem;
  border-bottom: 3px solid var(--contour);

  .infoContainer {
    width: 90rem;
    height: 70%;
    padding: 0 7.18rem;
    margin: 0 auto;
    display: flex;
    align-items: center;
    position: relative;

    .logo {
      font-family: "Pacifico", cursive;
      font-size: 40px;
      color: var(--main);
    }

    .searchBar {
      input {
        width: 25rem;
        height: 4rem;
        border-radius: 8px;
        margin-top: 0.2rem;
        margin-left: 3.25rem;
        border: 2px solid #aeaeae;
        font-size: 20px;
        padding: 1rem;
        transition: all ease 0.15s;

        &:focus {
          border-color: var(--main);
        }
      }
    }

    .information {
      display: flex;
      justify-content: space-between;
      font-size: 23px;
      position: absolute;
      right: 10rem;
      cursor: pointer;

      div {
        height: 3rem;
        margin-left: 1.5rem;
        transition: all ease 0.15s;

        span {
          font-weight: 600;
          margin-right: 0.2rem;
        }

        .logout {
          display: none;
          position: absolute;
          top: 3rem;
          right: 0;
          cursor: pointer;
          padding: 5px 10px;
          border-radius: 8px;
          border: 2px solid #aeaeae;
          background-color: var(--white);
          font-size: var(--h6);
          color: #aeaeae;

          &:hover {
            color: var(--red);
            border-color: var(--red);
          }
        }

        &:hover {
          .logout {
            display: block;
          }
        }
      }
    }
  }

  .navContainer {
    width: 90rem;
    font-size: 25px;
    font-weight: 700;
    height: 30%;
    padding: 0 10rem;
    margin: 0 auto;
    ul {
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;

      li {
        cursor: pointer;
        transition: all ease 0.2s;

        &:hover {
          color: var(--gray-hover);
        }
      }
    }
  }
}
