.container {
  width: 25rem;
  @include display-flex($dir: column, $jus: flex-start);

  .title {
    font-size: 2.5rem;
    font-weight: 700;
    margin-top: 4.5rem;
    margin-bottom: 1rem;
  }
  .inputContainer {
    width: 100%;
    margin-bottom: 0.8rem;
    @include display-flex($dir: column, $gap: 0.5rem);

    .label {
      font-size: 1.25rem;
      font-weight: 700;
      width: 100%;
    }

    .input {
      font-size: 1.25rem;
      width: 100%;
      height: 3.5rem;
      border-radius: 0.5rem;
      border: 2px solid var(--gray-hover);
      outline: none;
      padding-left: 0.75rem;
    }

    .readBox {
      height: max-content;
      padding: 0.6rem 0.75rem;
    }
  }

  .submitButton {
    width: 11.43rem;
    height: 3rem;
    border-radius: 0.5rem;
    outline: none;
    border: none;
    font-size: 1.2rem;
    font-weight: 700;
    color: var(--white);
    background-color: var(--main);
    cursor: pointer;
    margin: 4rem 0 4.5rem 0;
  }
}
